@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
}

.one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 10px 250px;
}

.one-content {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    gap: 2em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.fried {
    max-width: 600px;

}

.left-cont {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.first-sign {
    padding: 8px 15px;
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 900;
    justify-content: flex-start;
    width: 150px;
    border-radius: 10px;
}